body {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

header {
    background-color: #124a5e;
    color: white;
}

h1 {
    text-align: center;
}

nav {
    align-items: center;
    display: flex;
}

nav .logo {
    margin-right: auto; 
    width: 70px;
    height: auto;
    padding-left: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    margin-bottom: 0;   
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: #FFDAB9;
}

.current {
    color: orange; 
    font-weight: bold;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

main {
    padding: 20px;
}

form label {
    display: block;
    margin: 30px 0;
}

input[type="text"], input[type="email"], input[type="tel"], select, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #124a5e;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.membership-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 22%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

dialog {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

dialog div {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background: #124a5e;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    nav ul {
        display: none;
        position: relative;
        width: auto;
        background-color: #124a5e;
        margin-left: auto;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
        margin-left: auto;
        line-height: 0;
        margin-bottom: 10px;
    }

    .show {
        display: block !important;
    }

    .membership-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-bottom: 20px;
    }
}
