/* Default Page CSS and Directory Page CSS */

body {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

header {
    background-color: #124a5e;
    color: white;
}

h1 {
    text-align: center;
}

nav {
    align-items: center;
    display: flex;
}

nav .logo {
    margin-right: auto; 
    width: 70px;
    height: auto;
    padding-left: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    margin-bottom: 0;   
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: #FFDAB9;
}

.current {
    color: orange; 
    font-weight: bold;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.view-toggle {
    text-align: center;
    margin: 1em 0;
}

.view-toggle button {
    padding: 0.5em 1em;
    margin: 0 0.5em;
}

#directory {
    gap: 1em;
    padding: 1em;
}

#directory.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#directory.grid .card {
    flex-direction: column;
    padding: 10px;
}

#directory.grid .card .image-container {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

#directory.grid .card .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#directory.list .list-item {
    flex-direction: column;
    padding: 10px;
    background-color: #e0f7fa; 
    margin-bottom: 10px;
    white-space: nowrap; 
    flex-grow: 1;
}

#directory.list .list-item:nth-child(even) {
    background-color: #b2dfdb; 
}

#directory.list .list-item .image-container {
    width: 100px;
}

#directory.list .list-item .image-container img {
    display: none; 
}

#directory.list .list-item .content-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

#directory.list .list-item .content-container h2,
#directory.list .list-item .content-container p,
#directory.list .list-item .content-container a {
    margin: 0;
    padding-right: 10px; 
}

#wayfinder {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background: #124a5e;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr; 
        grid-column-gap: 0; 
        padding: 10px; 
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    nav ul {
        display: none;
        position: relative;
        width: auto;
        background-color: #124a5e;
        margin-left: auto;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
        margin-left: auto;
        line-height: 0;
        margin-bottom: 10px;
    }

    .show {
        display: block !important;
    }

    #directory.list {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    #directory.list .list-item {
        margin-bottom: 20px;
        padding: 10px;
        border-bottom: 1px solid #ccc; 
    }

    #directory.list .list-item .content-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #directory.list .list-item .content-container h2,
    #directory.list .list-item .content-container p,
    #directory.list .list-item .content-container a {
        padding-right: 0; 
        padding-bottom: 10px; 
    }

}


/*  Additional CSS for Home */

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.call-to-action {
    position: relative;
    padding: 30px;
    margin: 40px;
    text-align: center;
}

.call-to-action a {
    background-color: #124a5e;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: xx-large;
}

.call-to-action a:hover {
    background-color: #0056b3;
    color: #ffffff;
    text-decoration: underline;
}

.events {
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #b2dfdb;
}

section {
    padding: 20px;
}

.events, .weather, .spotlights {
    margin-bottom: 20px;
}

.spotlights {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #b2dfdb;
}

.spotlight-company {
    display: inline-block;
    width: 25%;
    text-align: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}

.spotlight-company img {
    max-width: 50%;
}

h2 {
    color: #124a5e;
}

/* Main weather section */
.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

/* Today's weather */
.today-weather {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f1f1f1;
}

/* Next 3 days forecast */
aside {
    width: 100%;
    margin: 10px;
    padding-top: 20px;
    border-radius: 10px;
    text-align: center;
}

aside h2 {
    text-align: center;
    margin-bottom: 20px;
}

#day-one, #day-two, #day-three {
    display: inline-block;
    width: 25%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f1f1f1;
    text-align: center;
}

#day-one img, #day-two img, #day-three img {
    width: 100%;
    height: auto;
    max-width: 100px;
}

.weather #description, #description-one, #description-two, #description-three {
    text-transform: capitalize;
} 

@media (max-width: 768px) {
    .spotlights {
        flex-direction: column;
        align-items: center;
    }

    .spotlight-company {
        width: 80%;
        margin-bottom: 20px;
    }

    #day-one, #day-two, #day-three {
        width: 50%;
        margin-bottom: 20px;
    }

    .call-to-action a { 
        font-size: medium;
    }
}
